/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&family=Poppins:wght@100;300;400;500;600;700;800&family=Raleway:wght@200;300&family=Roboto:wght@500&display=swap');

/* Common Style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.container{
    width:1240px;
    margin: 0px auto;
}
header{

background-color: rgba(255, 144, 14, 0.1);
padding-bottom: 50px;
}

p{
    font-size: 12px;
    color:#727272 ;
}
/* -------------------------heading section-------------------------  */

/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    margin-top: 10px;
}
.navigation ul{
    list-style:none;
    display: flex;

}
.navigation ul li{
    margin-right: 50px;
}
.navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}
.banner-btn{
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    padding:20px;
    border: none;
    color: #fff;
    background-color:  #FF900E;
    border-radius:5px;
    cursor: pointer;
}
/* banner section  */
.banner{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-description{
    padding: 10px;
    width: 600px;
    text-align: center;
    margin-bottom: 40px;
}

.banner-image img{

    width: 100%;
    height: 600px;
}

/* ---------------------------------main section   start------------- */
.features{
    display: flex;
    margin-top: 50px;
    gap: 80px;
    justify-content: center;
    align-items: center;
}
.features-image{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 row-gap: 20px;
 column-gap: 20px;
}
/* Enjoy features section */
.enjoy-features{
    margin-top:80px;
    display: flex;
    gap: 50px;
}
.enjoy-features-image{
   width: 100%;
}
.enjoy-features-image img{
    width: 95%;
}
.features-dec h1{
    font-size: 2.5em;
    padding-left: 10px;
    border-left: 5px solid #FF900E;
    
}
.features-box{
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 0px 15px rgb(200, 196, 196);
}
.features-btn {
    position: relative;
    top: -105px;
    left: -4%;
}
/* fact section  */
.facts-section{
    margin-top:0px;
}
.facts-section h1{
    font-size: 30px;
    margin-bottom: 0px;

}
.facts{
    text-align: center;
    display: grid;
    margin-top: 80px;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;

}

.facts div{
    height:100px;
    width: 120px;
    padding: 30px;
 border: 2px solid #FF900E;
 transition: 0.5s all;
}
.facts div:hover{
transform: scale(90%);
}
.facts div b{
    font-size: 30px;
}
.facts div p{
    font-size: 13px;
    font-weight: bold;
}
/* achivement section start  */
.achivement{
    margin-top: 80px;
    display: flex;
    gap: 40px;
    align-items: center;
   
}
/* Sponsor section  */

.sponsor-description{
    margin-top: 50px;
    text-align: center;
}
.sopnsor-brand{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
}
.footer{
    margin-top: 40px;
    background-color: rgba(255, 144, 14, 0.1);
    padding: 20px;
    text-align:center;
}


/*--------------------------- media queries---------------------  */

/* small Devices */
@media screen and  (max-width:576px) {
    .container{
        width:100%;
        margin-left: 20px;
    }

.navbar{
 flex-direction: column;
}
.navigation ul{

   flex-direction: column;

}
.navigation ul li{
    margin-top: 10px;
} 
.banner{
    margin-top:0px;
   
}
.banner-description{
    width: 100%;
margin-top:10px;
padding: 20px;
  width: 100%;
  height: 100%;
}
.banner-image img{
    height: 300px;
}
.features-image{
    
    grid-template-columns: repeat(1,1fr);
   
   }

.features{
   flex-direction: column;
   text-align: center;
}
.enjoy-features{
   flex-direction: column;
}
.enjoy-features-image img{
    width: 100%;
}
.features-btn {
   
   
    left: 24%;
}
.achivement{
flex-direction: column;
   
}
.achivement-image img{
    width: 100%;
}
.achivement-desc{
    width: 100%;
    padding: 10px 20px;
}

.facts{
 
    grid-template-columns: repeat(1,1fr);
    row-gap: 20px;
  

}
.sopnsor-brand{
   
    grid-template-columns: repeat(2,1fr);
    row-gap: 40px;
    
  
}




}